<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   ChallengeGloboplay

   Created by Josias Fabrício on 16/12/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <key>API_KEY</key>
    <string>21c90dd6fbb2cc00d7180eef236bd8b9</string>
    <key>REQUEST_TOKEN</key>
    <string>01a3980b0c2ed2fea6f0c347c2facece6042393e</string>
    <key>SESSION_ID</key>
    <string>592591c8bcba6f45bbdf44f8e65bb1ed8a563ad1</string>
<dict/>
</plist>
